/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ceddf1;
}
.custom-navbar {
    background-color: #0b559f; /* Example Danube blue */
}

h1, h2 {
  font-family: 'Lora', serif;
}

.card-title {
  font-weight: bold;
}

footer {
  background-color: #343a40;
  color: white;
}
.custom-footer{
    background-color: #0b559f; /* Example Danube blue */
    color: white;
}
/*Change the color of the fa-brands, Instagram, Facebook and X from blue to white*/
.fa-brands {
  color: white;
}
