/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ceddf1;
}
.custom-navbar {
    background-color: #0b559f; /* Example Danube blue */
}

h1, h2 {
  font-family: 'Lora', serif;
}

.card-title {
  font-weight: bold;
}

/* Set images from the Home/Gallery to have the same height and width*/

#budapestCarousel .carousel-item img {
  width: 100%;             /* always fill the carousel width */
  height: 400px;            /* fixed height for all images */
  object-fit: cover;       /* crop to fill without distortion */
  display: block;          
  margin: 0 auto;         /* center horizontally the images in the Home page */
}

/*Position "Taste of Budapest" section to not overlap the navbar*/
.taste-section {
  margin-top: 100px;
}
.taste-section h2 {
  margin-bottom: 40px;
}

/* Center title for Landmarks page. Consistent image size and align text beneath */
.landmark-img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

/* Center title for Food page. Consistent image size and align text beneath */
.food-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Default styling */
#history h5 {
  font-size: 1.25rem;
  line-height: 1.6;
}

/* Smaller screens for "A Glimpse into History" paragraphs in the index.html*/
@media (max-width: 576px) {
  #history h5 {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 10px;
  }
}


/* Smaller screens: reduce max height from */
@media (max-width: 768px) {
  #budapestCarousel .carousel-item img {
    max-height: 250px;
  }
}

@media (max-width: 576px) {
  #budapestCarousel .carousel-item img {
    max-height: 180px;
  }
}

footer {
  background-color: #343a40;
  color: white;
}

.custom-footer{
    background-color: #0b559f; /* Example Danube blue */
    color: white;
}
/*Change the color of the fa-brands, Instagram, Facebook and X from blue to white*/
.fa-brands {
  color: white;
}
