/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ceddf1;
}
.custom-navbar {
    background-color: #0b559f; /* Example Danube blue */
}

h1, h2 {
  font-family: 'Lora', serif;
}

.card-title {
  font-weight: bold;
}

/* Set images from the Home/Gallery to have the same height and width*/

#budapestCarousel .carousel-item img {
  width: 100%;             /* always fill the carousel width */
  height: 400px;            /* fixed height for all images */
  object-fit: cover;       /* crop to fill without distortion */
  display: block;          
  margin: 0 auto;         /* center horizontally the images in the Home page */
}

/* Smaller screens: reduce max height */
@media (max-width: 768px) {
  #budapestCarousel .carousel-item img {
    max-height: 250px;
  }
}

@media (max-width: 576px) {
  #budapestCarousel .carousel-item img {
    max-height: 180px;
  }
}


/*Position "Taste of Budapest" section to not overlap the navbar*/
.taste-section {
  margin-top: 100px;
}
.taste-section h2 {
  margin-bottom: 20px;
}


footer {
  background-color: #343a40;
  color: white;
}
.custom-footer{
    background-color: #0b559f; /* Example Danube blue */
    color: white;
}
/*Change the color of the fa-brands, Instagram, Facebook and X from blue to white*/
.fa-brands {
  color: white;
}
